<div class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h2>Contact Us</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="card m-3">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <form name="form" (ngSubmit)="formcontact.form.valid && onSubmit()" #formcontact="ngForm" novalidate>
          <div class="form-row">
              <div class="form-group col-6">
                  <label>Full Name*</label>
                  <input type="text" name="fullName" class="form-control" [(ngModel)]="contactModel.fullName" #fullName="ngModel" [ngClass]="{ 'is-invalid': formcontact.submitted && fullName.invalid }" required>
                  <div *ngIf="formcontact.submitted && fullName.invalid" class="invalid-feedback">
                      <div *ngIf="fullName.errors.required">Full Name is required</div>
                  </div>
              </div>
              <div class="form-group col-6">
                <label>Email*</label>
                <input type="text" name="email" class="form-control" [(ngModel)]="contactModel.email" #email="ngModel" [ngClass]="{ 'is-invalid': formcontact.submitted && email.invalid }" required email>
                <div *ngIf="formcontact.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
          </div>
          <div class="form-row">
              <div class="form-group col-6">
                  <label>Contact Number*</label>
                  <input type="number" name="contactNumber" class="form-control" [(ngModel)]="contactModel.contactNumber" #contactNumber="ngModel" [ngClass]="{ 'is-invalid': formcontact.submitted && contactNumber.invalid }" maxLength='10' required>
                  <div *ngIf="formcontact.submitted && contactNumber.invalid" class="invalid-feedback">
                      <div *ngIf="contactNumber.errors.required">Contact Number is required</div>
                      <div *ngIf="contactNumber.errors.maxlength">Contact Number must have 10 Digits.</div>
                  </div>
              </div>
              <div class="form-group col-6">
                <label>Subject*</label>
                <select name="subject" class="form-control" [(ngModel)]="contactModel.subject" #subject="ngModel" [ngClass]="{ 'is-invalid': formcontact.submitted && subject.invalid }" required>
                    <option value=""></option>
                    <option value="Product">Product</option>
                    <option value="Category">Category</option>
                    <option value="Brand">Brand</option>
                </select>
                <div *ngIf="formcontact.submitted && subject.invalid" class="invalid-feedback">
                    <div *ngIf="subject.errors.required">subject is required</div>
                </div>
            </div>
          </div>
          <div class="form-row">
              <div class="form-group col">
                  <label>Message*</label>
                  <textarea  type="text" name="message" class="form-control" [(ngModel)]="contactModel.message" #message="ngModel" [ngClass]="{ 'is-invalid': formcontact.submitted && message.invalid }" required></textarea>
                  <div *ngIf="formcontact.submitted && message.invalid" class="invalid-feedback">
                      <div *ngIf="message.errors.required">Message is required</div>
                  </div>
              </div>
          </div>
          <div class="text-center">
              <button class="btn btn-primary mr-1">Contac Us</button>
          </div>
        </form>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="card bg-light mb-3">
          <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-home"></i> Contact info</div>
          <div class="card-body">
            <p>Address: Lorem ipsum dolor sit,amet</p>
            <p>Email : email@example.com</p>
            <p>Tel. +33 12 56 11 51 84</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>