<ul class="pagination">
  <li class="page-item">
    <button class="btn btn-block btn-outline-primary" [disabled]="pageNo === 1" type="button"
      (click)="onPageChange('pre')">Prev</button>
  </li>
  <li *ngFor="let item of pagingArray" class="page-item" [ngClass]="{ 'active':item === pageNo }"
    (click)="onPageChange('',item)">
    <a class="page-link">{{item}}</a>
  </li>
  <li class="page-item">
    <button class="btn btn-block btn-outline-primary" [disabled]="pageNo === totalPages" type="button"
      (click)="onPageChange('next')">Next</button>
  </li>
</ul>