<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">StockNShell Products</h1>
        <p class="lead text-muted mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio laboriosam aspernatur repudiandae quod, non optio, qui explicabo consequatur cupiditate quibusdam, ullam voluptatum repellendus quis ipsam. Dicta mollitia ipsam dignissimos ea blanditiis maxime asperiores necessitatibus soluta rerum qui, quas amet vero numquam culpa autem perferendis rem nam tempora repudiandae? Ab, id.</p>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 product-card" *ngFor='let product of pageOfItems'>
                    <div class="card">
                        <img class="card-img-top" *ngIf='product.img' src="https://stocknsell.com/img/{{product.img}}" alt="Card image cap" height="400" width="600">
                        <img class="card-img-top" *ngIf='!product.img' src="https://stocknsell.com/img/{{product.img}}" alt="Card image cap" height="400" width="600">
                        <div class="card-body">
                            <h4 *ngIf='product.name' class="card-title"><a href="https://stocknsell.com/img/{{product.id}}" title="View Product">{{product.name}}</a></h4>
                            <h4 *ngIf='!product.name' class="card-title"><a href="https://stocknsell.com/img/{{product.id}}" title="View Product">---</a></h4>
                            <p class="card-text">Lowest Ask</p>
                            <p class="card-text" *ngIf='product.lowest_ask_cad'>{{product.lowest_ask_cad | currency: 'USD'}}</p>
                            <p class="card-text" *ngIf='!product.lowest_ask_cad'>----</p>
                            <div class="row">
                                <div class="col">
                                    <p *ngIf='product.highest_bid_usd' class="btn btn-danger btn-block">Sell | {{product.highest_bid_usd | currency: 'USD'}}</p>
                                </div>
                                <div class="col">
                                        <p *ngIf='product.lowest_ask_cad' class="btn btn-info btn-block">Buy | {{product.lowest_ask_cad | currency: 'USD'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xs-12">
                <ed-paging [pageNo]="pageNo" [pageSize]="pageSize" [totalPages]="totalPages" (pageChange)="onPageChange($event)"></ed-paging>
            </div>
        </div>

    </div>
</div>