<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
    <div class="container">
        <a routerLink="/" class="navbar-brand">StockNShell</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/product-list" class="nav-link">Product List</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact-us" class="nav-link">Conatct Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>